<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailystudio.apiaiandroidclient">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".APIAIAndroidClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_main"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.ChatActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_chat"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="apiaiandroidclient.intent.ACTION_CHAT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_title_settings"
            android:theme="@style/AppTheme">
        </activity>

        <provider
            android:name="com.dailystudio.apiaiandroidclient.APIAIAndroidClientDatabaseContentProvider"
            android:authorities="com.dailystudio.apiaiandroidclient"/>

        <service android:name=".ChatService"/>
        <service android:name=".TextToSpeechService"/>

    </application>

</manifest>